NEXUS/rede-can/Node-WEB.json
[
  {
    "id": "flow_mcu_web",
    "type": "tab",
    "label": "Web Node-RED MCU Bridge",
    "disabled": false,
    "info": ""
  },
  {
    "id": "site_in",
    "type": "http in",
    "z": "flow_mcu_web",
    "name": "GET /site",
    "url": "/site",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 80,
    "wires": [["site_template"]]
  },
  {
    "id": "site_template",
    "type": "template",
    "z": "flow_mcu_web",
    "name": "HTML page",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Node-RED MCU Bridge</title>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 720px; margin: 40px auto; }\n    .card { border: 1px solid #ccc; border-radius: 10px; padding: 18px; margin-bottom: 16px; }\n    .value { font-weight: bold; }\n    button { padding: 10px 16px; margin-right: 8px; cursor: pointer; }\n    .on { color: green; }\n    .off { color: red; }\n    small { color: #555; }\n  </style>\n</head>\n<body>\n  <h1>Website ⇄ Node-RED ⇄ Microcontroller</h1>\n\n  <div class=\"card\">\n    <h2>Latest sensor data</h2>\n    <p>Device: <span id=\"deviceId\" class=\"value\">---</span></p>\n    <p>Temperature: <span id=\"temperature\" class=\"value\">---</span> °C</p>\n    <p>Humidity: <span id=\"humidity\" class=\"value\">---</span> %</p>\n    <p>Light: <span id=\"light\" class=\"value\">---</span></p>\n    <p>Last update: <span id=\"updatedAt\" class=\"value\">---</span></p>\n    <button onclick=\"loadState()\">Refresh now</button>\n  </div>\n\n  <div class=\"card\">\n    <h2>Actuator command</h2>\n    <p>Status requested by website: <span id=\"actuator\" class=\"value\">---</span></p>\n    <button onclick=\"setActuator(true)\">Turn actuator ON</button>\n    <button onclick=\"setActuator(false)\">Turn actuator OFF</button>\n    <p><small>The real microcontroller would read this command from Node-RED and then activate/deactivate the actuator.</small></p>\n  </div>\n\n  <script>\n    async function loadState() {\n      const response = await fetch('/api/state');\n      const state = await response.json();\n\n      document.getElementById('deviceId').textContent = state.deviceId ?? '---';\n      document.getElementById('temperature').textContent = state.sensor?.temperature ?? '---';\n      document.getElementById('humidity').textContent = state.sensor?.humidity ?? '---';\n      document.getElementById('light').textContent = state.sensor?.light ?? '---';\n      document.getElementById('updatedAt').textContent = state.updatedAt ?? 'never';\n\n      const actuator = document.getElementById('actuator');\n      actuator.textContent = state.actuator ? 'ON' : 'OFF';\n      actuator.className = state.actuator ? 'value on' : 'value off';\n    }\n\n    async function setActuator(value) {\n      await fetch('/api/actuator', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ actuator: value })\n      });\n      await loadState();\n    }\n\n    loadState();\n    setInterval(loadState, 1000);\n  </script>\n</body>\n</html>",
    "output": "str",
    "x": 330,
    "y": 80,
    "wires": [["site_response"]]
  },
  {
    "id": "site_response",
    "type": "http response",
    "z": "flow_mcu_web",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 540,
    "y": 80,
    "wires": []
  },
  {
    "id": "state_in",
    "type": "http in",
    "z": "flow_mcu_web",
    "name": "GET /api/state",
    "url": "/api/state",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 160,
    "wires": [["state_fn"]]
  },
  {
    "id": "state_fn",
    "type": "function",
    "z": "flow_mcu_web",
    "name": "Return current state",
    "func": "function defaultState() {\n    return {\n        deviceId: \"mcu01\",\n        sensor: {\n            temperature: 0,\n            humidity: 0,\n            light: 0\n        },\n        actuator: false,\n        updatedAt: null,\n        commandUpdatedAt: null\n    };\n}\n\nlet state = flow.get(\"deviceState\") || defaultState();\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify(state);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 160,
    "wires": [["state_response"]]
  },
  {
    "id": "state_response",
    "type": "http response",
    "z": "flow_mcu_web",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 610,
    "y": 160,
    "wires": []
  },
  {
    "id": "actuator_in",
    "type": "http in",
    "z": "flow_mcu_web",
    "name": "POST /api/actuator",
    "url": "/api/actuator",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 240,
    "wires": [["actuator_fn"]]
  },
  {
    "id": "actuator_fn",
    "type": "function",
    "z": "flow_mcu_web",
    "name": "Save actuator command",
    "func": "function defaultState() {\n    return {\n        deviceId: \"mcu01\",\n        sensor: {\n            temperature: 0,\n            humidity: 0,\n            light: 0\n        },\n        actuator: false,\n        updatedAt: null,\n        commandUpdatedAt: null\n    };\n}\n\nlet body = msg.payload;\n\nif (typeof body === \"string\") {\n    try {\n        body = JSON.parse(body);\n    } catch (err) {\n        msg.statusCode = 400;\n        msg.headers = { \"Content-Type\": \"application/json\" };\n        msg.payload = JSON.stringify({ ok: false, error: \"Invalid JSON\" });\n        return msg;\n    }\n}\n\nlet state = flow.get(\"deviceState\") || defaultState();\n\nstate.actuator = body.actuator === true || body.actuator === \"true\" || body.actuator === 1 || body.actuator === \"1\";\nstate.commandUpdatedAt = new Date().toISOString();\n\nflow.set(\"deviceState\", state);\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({ ok: true, state });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [["actuator_response"]]
  },
  {
    "id": "actuator_response",
    "type": "http response",
    "z": "flow_mcu_web",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 240,
    "wires": []
  },
  {
    "id": "mcu_in",
    "type": "http in",
    "z": "flow_mcu_web",
    "name": "POST /api/mcu/sensor",
    "url": "/api/mcu/sensor",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 340,
    "wires": [["mcu_fn"]]
  },
  {
    "id": "mcu_fn",
    "type": "function",
    "z": "flow_mcu_web",
    "name": "Save MCU sensor + return command",
    "func": "function defaultState() {\n    return {\n        deviceId: \"mcu01\",\n        sensor: {\n            temperature: 0,\n            humidity: 0,\n            light: 0\n        },\n        actuator: false,\n        updatedAt: null,\n        commandUpdatedAt: null\n    };\n}\n\nlet body = msg.payload;\n\nif (typeof body === \"string\") {\n    try {\n        body = JSON.parse(body);\n    } catch (err) {\n        msg.statusCode = 400;\n        msg.headers = { \"Content-Type\": \"application/json\" };\n        msg.payload = JSON.stringify({ ok: false, error: \"Invalid JSON\" });\n        return msg;\n    }\n}\n\nlet state = flow.get(\"deviceState\") || defaultState();\n\nstate.deviceId = body.id || state.deviceId || \"mcu01\";\nstate.sensor = {\n    temperature: Number(body.temperature ?? body.temp ?? state.sensor.temperature ?? 0),\n    humidity: Number(body.humidity ?? state.sensor.humidity ?? 0),\n    light: Number(body.light ?? body.lux ?? state.sensor.light ?? 0)\n};\nstate.updatedAt = new Date().toISOString();\n\nflow.set(\"deviceState\", state);\n\n/*\n  This response is important:\n  a real microcontroller could POST sensor data and receive\n  the latest actuator command in the same HTTP response.\n*/\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify({\n    ok: true,\n    received: state.sensor,\n    command: {\n        actuator: state.actuator\n    }\n});\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 340,
    "wires": [["mcu_response"]]
  },
  {
    "id": "mcu_response",
    "type": "http response",
    "z": "flow_mcu_web",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 720,
    "y": 340,
    "wires": []
  },
  {
    "id": "inject_sim",
    "type": "inject",
    "z": "flow_mcu_web",
    "name": "SIMULATE MCU: send random sensor",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 460,
    "wires": [["simulate_fn"]]
  },
  {
    "id": "simulate_fn",
    "type": "function",
    "z": "flow_mcu_web",
    "name": "Build fake MCU JSON",
    "func": "const fakeSensor = {\n    id: \"mcu01\",\n    temperature: Number((20 + Math.random() * 10).toFixed(1)),\n    humidity: Number((45 + Math.random() * 20).toFixed(1)),\n    light: Math.round(100 + Math.random() * 900)\n};\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify(fakeSensor);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 460,
    "wires": [["self_http"]]
  },
  {
    "id": "self_http",
    "type": "http request",
    "z": "flow_mcu_web",
    "name": "POST to own MCU endpoint",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:1880/api/mcu/sensor",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 730,
    "y": 460,
    "wires": [["debug_sim"]]
  },
  {
    "id": "debug_sim",
    "type": "debug",
    "z": "flow_mcu_web",
    "name": "MCU simulation response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 460,
    "wires": []
  }
]